// Colores
$white: #FFF;
$isabelline: #ECECEC;
$light-gray: #D1D1D1;
$aquamarine: #7fffff;
$smoky-black: #000000;



// tipografía
$old-standard: 'Old Standard TT', serif;
$raleway: 'Raleway', sans-serif;

// Width
$regular:400;
$bold: 700;



// Tamaños
$xxx-large: 50px;
$xx-large:30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;